{% extends 'base.html' %}
{% block content %}
<div class="row row-flex">
    <div class="col-xs-12 container title">

        <!--page heading-->
        <h2 class="page-heading">Calculator and Information Links</h2>
    </div>

    <!--topic links and explanation of what they do-->
    <div class="col-xs-12 container calculator-description">
        <p>Link to <a class="hover" href="{% url 'plasterboard' %}"><b>Board Breakdown</b></a></p>
        <p>Link to <a class="hover" href="{% url 'insulation' %}"><b>Insulation Information</b></a></p>
        <p>Link to <a class="hover" href="{% url 'ceilings' %}"><b>Ceiling Information</b></a></p>
        <p>Link to <a class="hover" href="{% url 'margin' %}"><b>Margin & Discount Calculator</b></a></p>
        <p>Link to <a class="hover" href="{% url 'alternatives' %}"><b>Product Alternatives</b></a></p>
    </div>
</div>
{% endblock %}